<%= turbo_frame_tag "modal" do %>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-card px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="mb-4">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Edit User</h3>
        </div>
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
<% end %>
